/* You can add global styles to this file, and also import other style files */

.card{margin-bottom:30px !important ;}

.card .card-body {
    padding: 1.5rem 1.5rem !important;
}


.content-wrapper {
   
    padding: 1.875rem 1.875rem 0 1.875rem !important;
 
}


.table th, .jsgrid .jsgrid-table th, .table td, .jsgrid .jsgrid-table td {
 
    line-height: 1.8 !important;
   }



.sidebar {
 
    background: #270E5F !important ;
 
}

h2, .h2 {
    font-size: 1.3rem !important;
}

.ibm-font-card{font-size: 90px !important;}

.card-tittle1{
    font-size: 18px !important;
    font-weight: 500 !important;
    color: #787878 !important;
}

.card-h2{font-size: 30px !important;}

.hs{margin-bottom: 20px !important;}
.ngh{margin-bottom:0px !important;}



.link {margin: 0px; padding: 0px; }
.link a{color:#666 ;text-decoration:none;font-size:15px; text-decoration: none !important;}
.link a:hover{color:#666;text-decoration: none;font-size: 15px;text-decoration:underline}

.card-img{width:90px ;
height: 90px;}

.dates{
    float: right;
    text-align: right;
}


.drop{

      width: 110px;
    height: 32px;
    border: solid #e9e9e9 2px;
    color: #666;
    font-size: 15px !important;
    /* padding: 10px; */
    padding-left: 5px;
}

.chats{
   padding-top: 15px;
    color: #666;
    font-size: 15px;
}


.card .card-title {
    color: #626262 !important;
   
}







html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.nav .nav-item button.active {
  background-color: transparent;
  color: var(--bs-danger) !important;
}
.nav .nav-item button.active::after {
  content: "";
  border-bottom: 4px solid var(--bs-danger);
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 5px 5px 0 0;
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: transparent !important;
}


.nav .nav-item button.active {
    background-color: transparent;
    color:#666 !important;
}



.nav-pills .nav-link {
    border: transparent !important; 
    padding: 0.5rem 2rem;
}

.text-primary, .list-wrapper .completed .remove {
    --bs-text-opacity: 1;
    color: rgb(80 80 80) !important;
}

.nav .nav-item button.active::after {
    content: "";
    border-bottom: 3px solid #010ed0;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -1px;
    border-radius: 5px 5px 0px 0px;
}


.tab-content[_ngcontent-ng-c3678738350] {
     border:none !important; 
    border-top: 0;
     padding:0px !important;
    text-align: justify;
}

.text-primary, .list-wrapper .completed .remove {
    --bs-text-opacity: 1;
    color: rgb(108 108 108) !important;
}

.tab-content {
    border:none !important;
    border-top: 0;
    padding:0px !important;
    text-align: justify;
}


.avatar {
    position: relative;
   
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
}
.bg-gray-100 {
    background-color: #f3f4f6;
}
.flex-shrink-0 {
    flex-shrink: 0 !important;
}
.overflow-hidden {
    overflow: hidden !important;
}

.ms-2 {
    margin-left: .5rem !important;
}

.rounded-circle {
    border-radius: 50% !important;
    width: 40px !important;
}
.h-auto {
    height: auto !important;
}
.w-auto {
    width: auto !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
   
    height: auto;
    vertical-align: middle;}

    .text-truncate {
    white-space: normal;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}
.text-dark {
    color: #212529 !important;}

    .fs-12 {
  font-size: .85rem;
    color: #666;
}

.btn-icon.btn-sm {
    width: 1.75rem;
    height: 1.75rem;
    font-size: .8rem;
}
.btn.btn-light {
    background-color: #f8f9fa;
    border: 1px solid #F8F9FA;
    color: #111827;
}




.sepd{width: 28px !important;
    height: 28px !important;
    background: #e9e9e9 !important;
    border: none !important;}

    .endicte{color: #666 !important;
    text-decoration: none !important;
    font-weight: 600 !important;
    font-size: 14px !important;}


    hr {
  
    margin-bottom: 7px !important;
    margin-top: 7px !important;
     color: #a7a7a7 !important;
}

.badge.badge-pink {
    background-color: #fd3995;
    color: #fff;
}



.btn-lightnew a{
     background: #efefef !important;
    color: #424242 !important;
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.btn-lightnew a:hover{
    background:#dddddd !important;
}


.btn-lightnew1 a{
     background: #11169f !important;
    color: #fff !important;
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none !important;
    transition: all 0.3s ease;
    margin-right: 8px;
}

.btn-lightnew1 a:hover{
    background:#001341 !important;
}






.bg-gray-100 {
    background-color: #f3f4f6 !important;
    
}

.avatar1 {
    position: relative;
    height: 2.625rem;
    width: 2.625rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #fff;
    /* font-weight: 500; */
}

.sequs{position: absolute;
    top: -6px;}

    .card .card-title {
    color: #626262 !important;
    font-size: 17px !important;
}



.rwd-table {
  margin: auto;
 
  width: 100%;
  border-collapse: collapse;
}

.rwd-table tr:first-child {
  border-top: none;
  background:#001341;
  color: #fff;
}

.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:first-child {
  margin-top: .5em;
}

.rwd-table td:last-child {
  margin-bottom: .5em;
}

.rwd-table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

.rwd-table tr {
  border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  .rwd-table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  .rwd-table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  .rwd-table td:before {
    display: none;
  }
  .rwd-table th,
  .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child,
  .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }
  .rwd-table th,
  .rwd-table td {
    padding: 1em !important;
  }
}


/* THE END OF THE IMPORTANT STUFF */


@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}


.rwd-table td {
    padding: .5em 1em;
    font-size: 14px !important;
    font-weight: 500;
    color: #000 !important;
}


.badge {
  
    padding:4px !important;
    
}

.honeshed{font-size: 20px;
    position: relative;
    top: -6px;}

    .breadcrumb .breadcrumb-item.active {
    color: rgb(80 80 80 / 80%) !important;
}


.navbar .navbar-brand-wrapper {
 
    background:#f5f5f5 !important ;
 
}



.sidebar .nav .nav-item .nav-link {
  
    color: #e1e1e1 !important;

}


.sidebar .nav .nav-item.active > .nav-link:before {

    background: #010ed0 !important;
     height: 40px !important;

}

.sidebar .nav-item {

   

    border-bottom: 1px solid rgb(0 35 135);
}






.sidebar .nav .nav-item:hover{

   background: #010ed0 !important;
}


.sidebar .nav .nav-item.active > .nav-link .menu-title {
    color: #ffffff !important;
   
}


.m-link{

        font-size: 20px;
        padding-right: 10px;
}


thead, tbody, tfoot, tr, td, th {
  
    font-size: 15px !important;
}